body{
	padding: 0px;
	margin: 0px;
	font-family: "Avenir";
}

a.schools{
	background-image: url('../img/school.png');
}
a.buildings{
	background-image: url('../img/buildings.svg');
}
a.building-elements{
	background-image: url('../img/building-elements.svg');
}

a.icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 18px;
	padding-top: 2px;
	padding-right: 2px;
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

a.icon:hover{
	opacity: 0.4;
}

/*.schools-downloaded{
	pointer-events: none;
}
.buildings-downloaded{
	pointer-events: none;
}
.building-elements-downloaded{
	pointer-events: none;
}*/

.ui-hlist-container{
	display: none;
}

.active .ui-hlist-container{
	display: block;
}

.ui-trigger-container:after{
	/*content: "+";*/
	float: right;
	padding-right: 10%;
}

.active .ui-trigger-container:after{
	/*content: "-";*/
}

.passive{
	pointer-events: none;
}

.datapoint a:first-child{
	/*margin-left: 10px;*/
}
.datapoint{
	display: block;
	text-decoration: none;
	color: #333333;
}
.datapoint a{
	float: right;
	color: #3366aa;
	text-decoration: none;
	padding: 0% 1% 0% 3%;
	cursor: pointer;
}
.datapoint a:hover{
	text-decoration: underline;
}

.navbar{
	height: 2.8em;
	background-color: #324B6E;
	color: #ececec;
}

.nav-btns{
	height: 60px;
	float: right;
	margin-right: 10px;
}

.nav-btns a, .nav-btns span{
	width: 120px;
	height: 40px;
	line-height: 40px;
	height: 2em;
	padding: 4px;
	padding-bottom: 12px;
	/*padding-right: 8px;*/
	cursor: pointer;
	color: #ededed;
	text-decoration: none;
}
.nav-btns a:hover{
	/*background-color: rgba(255,255,255,0.6);*/
}
.nav-btns a span{
	display: block;
	line-height: .84em;
	font-size: .6em;
	margin-top: -2.2em;
}

#app{
	display: inline-block;
	margin: 20%;
	margin-top: 0%;
	width: 60%;
}

div.data-view-list{
	margin-top: 20px;
}

input{
	width: 45.8%;
	line-height: 1.2em;
	height: 1.2em;
	font-size: 1.6em;
}

input[type=text]{
	width: 92%;
	font-size: 1.2em;
}

.data-view-list{
	width: 92%;
	text-align: left;
}

.ui-date-range-and-string-search{
}

.emis{
	padding-right: 15%;
}
.date{
	padding-right: 10%;
}
.surveyor-id{
	padding-right: 5%;
}
.emis, .date, .surveyor-id, .ui-trigger-container{
	/*cursor: pointer;*/
}

.datapoint{
	line-height: 1.8em;
	border-bottom: #cccccc thin solid;
}

.ui-section-title{
	text-transform: capitalize;
	font-weight: 600;
	line-height: 2.4em;
}

.ui-hlist-item{
	display: block;
	line-height: 2.4em;
}

.ui-large-button{
	cursor: pointer;
	line-height: 2em;
}

.ui-large-button:hover{
	text-decoration: underline;
}

.ui-large-button.passive{
	/*opacity: 0;*/
	display: none;
}

.ui-raw-download-list.passive:after{
	content: "Please select a smaller range of dates from which to download the full dataset with pitcures, or use the link below to download CSV Only.";
	color: #7d7d7d;
	font-weight: 100;
}

.ui-widget-header{
	border: #999999 thin solid;
}

.ui-hlist-sidekick{
	display: inline-block;
	float: right;
	margin-top: -1.6em;
}

.ui-raw-download-list{
	padding: 10px;
	background-color: rgba(200,220,255,0.4);
	outline: #cccccc thin solid;
	max-height: 10em;
	overflow: auto;
}
.ui-raw-download-list.with-pictures{
	background-color: rgba(200,220,255,0.2);
}

.update-msg{
	line-height: 2.2em;
}

#login-prompt{
	position: absolute;
	width: 1366px;
	height: 768px;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.8);
}
#login-prompt .alert-box{
	display: inline-block;
	margin-top: 10%;
	margin-left: 30%;
	background-color: #ffffff;
	border: #999999 1px solid;
	padding: 60px 30px 30px 30px;
}

#login-prompt .msg{
	position: absolute;
	display: inline-block;
	padding: 10px;
	margin-top: 10%;
	margin-left: 30%;
	width: 388px;
	font-weight: 300;
	color: #ffffff;
	background-color: #324B6E;
}

#login-prompt input{
	display: block;
	width: 340px;
	font-size: 1.2em;
	line-height: 1.8em;
	height: 1.8em;
	margin: 1em 0em;
	padding: 0px 4px;
}

#login-prompt .ui-button{
	padding: 4px;
	background-color: #324B6E;
	color: #ffffff;
	float: right;
}

.hidden{
	display: none;
}

